@import "import/mixin"; // Подключаю миксины

// ================== Подключаем шрифты ===================
@import "import/fonts";
// --------------------------------------------------------

// ====================== Переменные ======================
$minwidth: 320px;
$mw: 1190;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
$fontfamily: "";
// --------------------------------------------------------

@import "import/null"; // Обнуляющие стили

// ===================== Оболочка =========================
.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded{

	}
}
// --------------------------------------------------------

// ================= Основная сетка =======================
.container{
	max-width: $mw+px; margin: 0 auto; width: 100%; padding: 0 10px;
	//@media (max-width:$md1+px) {max-width: 970px;}
	//@media (max-width:$md2+px) {max-width: 950px;}
	//@media (max-width:$md3+px) {max-width: none;padding: 0 10px;}
}
// --------------------------------------------------------


// ========================================================
// ---------- Вертска переиспользуемых блоков -------------
// ========================================================

.ibg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img{display: none;}
}

.btn {
	color: #333b46;
	font-family: "OpenSans-Regular";
	font-size: 16px;
	text-align: center;
	padding: 8px 29px;
	border-radius: 20px;
	border: 1px solid #333b46;
	transition: all 0.5s ease 0s;
	&:hover{
		background-color: #333b46;
		color: #FFF;
	}
}

.title {
	color: #333b46;
	font-family: "SourceSansPro-Light";
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.subtitle {
	color: #81868e;
	font-family: "OpenSans-Regular";
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.7px;
	margin: 40px auto 60px auto;
	max-width: 460px;
	@media (max-width:$md4+px) {
	    margin: 30px auto 30px auto;
	}
}

.footer-block {
	background-color: #19bd9a;
	position: relative;
	&__body{
		position: relative;
		z-index: 5;
		padding: 45px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width:$md2+px) {
		    padding: 30px 0;
		}
		@media (max-width:$md3+px) {
		    display: block;
		    text-align: center;
		}
	}
	&__title {
		color: #ffffff;
		font-family: "OpenSans-Regular";
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.8px;
		flex: 1 1 auto;
		&_bold {
			font-family: "OpenSans-Bold";
		}
	}
	&__button {
		flex: 0 0 auto;
		@media (max-width:$md3+px) {
			display: inline-block;
		    margin-top: 20px;
		}
	}
	&__image{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

// ========================================================
// ------------- Вертска уникальных блоков ----------------
// ========================================================

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;
	}
	&__logo {
		position: relative;
		z-index: 3;
		color: #ffffff;
		font-family: "Big John";
		font-size: 25px;
		margin-top: -5px;
		text-align: left;
		transition: all 0.3s ease 0s;
		&:hover{
			letter-spacing: 2px;
		}
	}
	&__burger {
		display: none;
		&.active{
			&:before{
				transform: rotate(45deg);
				top: 9px;
			}
			&:after{
				transform: rotate(-45deg);
				bottom: 9px;
			}
			span{
				transform: scale(0);
			}
		}
	}
	&__menu {}
	&__list {
		display: flex;
		position: relative;
		z-index: 2;
		li{
			list-style: none;
			margin-left: 30px;
		}
	}
	&__link {
		text-decoration: none;
		color: #ffffff;
		font-family: "OpenSans-Regular";
		font-size: 16px;
		&.active{
			padding: 5px 15px;
			border-radius: 20px;
			border: 1px solid #ffffff;
		}
		&:hover{
			text-decoration: underline;
		}
	}

	@media (max-width:767px){
		&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;
			&:before, &:after{
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&:before{
				top: 0;
			}
			&:after{
				bottom: 0;
			}
			span{
				position: absolute;
				background-color: #fff;
				left: 0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
		}
		&__menu {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			background-color: #18b5a4;
			overflow: auto;
			transition: all 0.3s ease 0s;
			padding: 70px 10px 20px 10px;
			&.active{
				top: 0;
			}
		}
		&__body {
			height: 50px;
		}
		&__logo {
			flex: 0 0 40px;
		}
		&__list {
			display: block;
			li{
				margin: 0 0 20px 0;
			}
		}
		&__link {
			font-size: 24px;
		}	
	}
}

///////////////////////////////////////////////////////////

.mainblock {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 50px 0;
	@media (max-height:600px) {
	   padding: 20px 0;
	}
	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__content {
		position: relative;
		z-index: 1;
		flex: 1 1 auto;
		.container{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__logo {}
	&__text {
		color: #FFF;
		position: relative;
		padding-bottom: 45px;
	}
	&__title {
		font-family: "SourceSansPro-Light";
		font-size: 35px;
		line-height: 70px;
		text-transform: uppercase;
		letter-spacing: 7px;
		margin-bottom: 40px;
		@media (max-width:$md3+px) {
		    line-height: 50px;
		}
	}
	&__subtitle {
		font-family: "OpenSans-Regular";
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		letter-spacing: 0.8px;
		max-width: 610px;
	}
	&__footer {
		display: flex;
		justify-content: center;
	}
	&__arrow {
		position: relative;
		flex: 0 0 36px;
		height: 36px;
		background-color: #19bd9a;
		border-radius: 50%;
		&:after, &:before{
			content: "";
			position: absolute;
			top: 18px;
			width: 12px;
			height: 1px;
			background-color: #fff;
		}
		&:after{
			left: 8px;
			transform: rotate(45deg);
		}
		&:before{
			right: 8px;
			transform: rotate(-45deg);
		}
		animation: arrow 2s infinite ease;
	}
	&__image {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@keyframes arrow {
	0%{top: 0;}
	50%{top: 10px;}
	100%{top: 0;}
}

///////////////////////////////////////////////////////////

.content{
	background-color: #fff;
	position: relative;
	z-index: 50;
}

///////////////////////////////////////////////////////////

.about-us {
	padding: 70px 0;
	@media (max-width:$md3+px) {
		padding: 20px 0;
	}
	.container {
		max-width: 870px;
	}
	&__row {
		display: flex;
		@media (max-width:$md3+px) {
			flex-wrap: wrap;
		}
		
	}
	&__column {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		&_i{flex: 0 0 255px;}
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
	&__body{
		margin-right: 20px;
		padding: 40px 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width:$md3+px) {
			align-items: center;
		}

	}
	&__title {
		text-align: left;
		@media (max-width:$md3+px) {
			text-align: center;
		}
	}
	&__text {
		color: #81868e;
		font-family: "OpenSans-Regular";
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0.7px;
		margin: 50px 0 35px 0;
		@media (max-width:$md3+px) {
			margin: 35px 0 35px 0;
			text-align: center;
		}
	}
	&__button {}
	&__image {
		height: 350px;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width:$md3+px) {
		    justify-content: center;
		}
		img{
			max-width: 100%; 
		}
	}
}

///////////////////////////////////////////////////////////

.details {
	background-color: #f3f3f3;
	padding: 80px 0;
	@media (max-width:$md4+px) {
	    padding: 40px 0;
	}
	.container {
		max-width: 985px;
	}
	&__title {}
	&__subtitle {}
	&__row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__item {
		background-color: #81868e;
		flex: 0 0 53px;
		height: 53px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 14px;
		cursor: pointer;
		&.active{
			background-color: #19bd9a;
		}
		&:nth-child(2) img{
			display: inline-block;
			margin-top: -5px;
		}
	}
	&__label {
		color: #464646;
		font-family: "OpenSans-Regular";
		font-size: 20px;
		line-height: 125px;
		letter-spacing: 0.8px;
		@media (max-width:$md3+px) {
		    text-align: center;
		}
		@media (max-width:$md4+px) {
		    line-height: 95px;
		}
	}
	&__row2 {
		display: flex;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__text {
		flex: 0 0 450px;
		color: #81868e;
		font-family: "OpenSans-Regular";
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 0.8px;
		padding-right: 130px;
		@media (max-width:$md2+px) {
		    padding-right: 20px;
		    flex: 0 0 50%;
		}
		@media (max-width:$md3+px) {
		    padding-right: 0px;
		    flex: 0 0 100%;
		    text-align: center;
		}
		&_color {
			color: #19bd9a;
			font-family: "OpenSans-Bold";
			letter-spacing: 0.8px;
		}
		&_bold {
			color: #636971;
			font-family: "OpenSans-Bold";
			letter-spacing: 0.8px;
		}
		&_2 {
			@media (max-width:$md3+px) {
			    margin-top: 30px;
			}
			padding-right: 0;
			font-size: 14px;
			flex: 1 1 auto;
		}
	}
}

///////////////////////////////////////////////////////////

.projects {
	padding-top: 80px;
	@media (max-width:$md3+px) {
	    padding-top: 40px;
	}
	&__title {}
	&__subtitle {}
	&__row {
		display: flex;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__column {
		flex: 0 0 25%;
		padding-bottom: 23.352%;
		position: relative;
		@media (max-width:$md3+px) {
		    flex: 0 0 50%;
		}
		&_b {
			flex: 0 0 50%;
			@media (max-width:$md3+px) {
			    flex: 0 0 100%;
			}
		}
	}
	&__item{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img{
			width: 100%;
			height: 100%;
			object-fit:cover;
		}
	}
	&__label{
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.85);
		display: flex;
		align-items: center;
		justify-content: center;
		color: #ffffff;
		font-family: "SourceSansPro-Light";
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 4px;
		opacity: 1;
		transition: opacity 0.5s ease 0s;
		&:hover{
			opacity: 0;
		}
	}
	&__footer {}
}